# LLM API Keys
OPENAI_API_KEY=xxxxxxxxxxxxxxxxxxx

# Search
BRAVE_API_KEY=xxxxxxxxxxxxxxxxxxx

# AOA
PING_DATA_STG_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxx

# Google Programmable Search Engine
GOOGLE_PSE_API_KEY=xxxxxxxxxxxxxxxxxxx
GOOGLE_PSE_CX=xxxxxxxxxxxxxxxxxxx

# SOV Fixer
PING_SOVFIXER_AUTH_TOKEN_STG=xxxxxxxxxxxxxxxxxxx

# google search
GOOGLE_PSE_API_KEY=get-from-joe
GOOGLE_PSE_CX=451de349d1aa04050
